body {
  background-color: #E4F8FA;
  font-size: 20px;
  font-family: 'TsukuARdGothic-Regular', 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', sans-serif;
  overscroll-behavior: none;
  margin: 0;
}

header {
  position: fixed;
  right: 10px;
  z-index: 10;
  font-size: 40px;
}

nav {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 10;
}

.NavList {
  width: 200px;
  padding: 15px 15px;
  border-radius: 12px;
  box-sizing: border-box;
}

.NavList li {
  width: 100%;
  text-align: right;
}

.NavList a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: opacity 0.3s;
}

.NavList a:hover {
  opacity: 0.5;
}

span {
  font-size: 12px;
}

.Hamburger {
  position: fixed;
  bottom: 30px;
  right: 10px;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.Hamburger.show {
  display: block;
  opacity: 1;
}

.Hamburger img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* メインビジュアル */
.bg-fixed {
  position: fixed;
  inset: 0;
  background: url("webMain.jpg") center/cover no-repeat;
  z-index: -1;
}

.bg-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 4800px;
}

#Logo img {
  width: 300px;
  margin-bottom: 10px;
}

/* ロケット */
#Roket {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 40%;
}

#Roket img {
  width: 250px;
  height: auto;
}


/* ストーリー */
.story {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
  position: fixed;
  top: 10vh;
  z-index: -1;
}

.story p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.story p.show {
  opacity: 1;
  transform: translateY(0);
}


/* マップ */
#Map {
  position: relative;
  z-index: -1;
}

#Map img {
  width: 100%;
}

.h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 60px 0;
}

.h2 img {
  width: 200px;
  height: auto;
  display: block;
}

/* メンバー */
#Member {
  height: 2500px;
  padding: 100px 20px;
  text-align: center;
  background: url("member.jpg") bottom/cover no-repeat;
  z-index: -1;
}

#Member p {
  color: #fff;
  margin: 150px 0;
}

.Profile img {
  width: 60%;
  margin-bottom: 70px;
}

/* アンケートフォーム */
#Form {
  background-color: #a7dbe0;
  color: #fff;
  height: 1000px;
  padding: 100px 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .Hamburger {
    display: block;
  }

  nav {
    position: fixed;
    bottom: 90px;
    right: 20px;
    max-width: 260px;
    display: none;
    z-index: 10;
  }

  nav.active {
    display: block;
  }

  .NavList {
    flex-direction: column;
    background: rgba(49, 151, 142, 0.6);

  }

  .NavList li {
    text-align: right;

  }

  .Profile img {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .Profile img {
    width: 30%;
  }
}
