body {
   background-color: #E4F8FA;
   font-size: 18px;
   font-family: "ヒラギノ角ゴ Pro W3",
      "Hiragino Kaku Gothic Pro",
      "メイリオ",
      "Meiryo",
      sans-serif;
}

h1 {
   font-size: 300%;
   color: #767676;
   font-family: "Times New Roman", serif;
}

h2 {
   font-size: 200%;
   color: #767676;
   font-family: "Times New Roman", serif;
   text-align: center;
   margin-bottom: 100px;
}

p {
   font-size: 150%;
   font-family: "Times New Roman", serif;
   color: #949494;
}

header {
   background: transparent;
   z-index: 10;
   position: fixed;
   width: 100%;
   padding-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header a {
   color: #a3a3a3;
   font-family: "Times New Roman", Times, serif;
}


header .NavList {
   display: flex;
}

header .NavList li {
   padding: 0 10px;
}


#Logo {
   font-size: 300%;
   color: #767676;
   font-family: "Times New Roman", serif;
   padding: 100px 30px;
   background: url("main.jpg") no-repeat center center;
   background-size: cover;
   background-attachment: scroll;
}

#Story {
   font-size: 150%;
   font-family: "Times New Roman", serif;
   color: #949494;
   background-color: #E4F8FA;
   margin-top: 800px;
   padding: 340px 0;
   text-align: center;
}

#Map img {
   width: 100%;
}

#Map {
   position: relative;
}

#sougen {
   position: absolute;
   top: 40%;
   left: 25%;
   font-size: 18px;
}

#Member {
   padding-top: 50px;
   text-align: center;
}


.Profile img {
   width: 60%;
   margin-bottom: 100px;
}

footer {
   background: #E4F8FA;
   color: #a3a3a3;
   margin-top: 80px;
   padding: 40px;
}

footer .credit {
   text-align: center;
   font-size: 14px;
}
